body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --text-color-actve: #ffffff;
  --accent-color: #2196f3;
  --button-hover: #188ce8;
  --footer-color: #2f303a;
  --background-team: #f5f4fa;
}

/*^ Делает активной вкладку текущей страницы */
.site-nav .link.current {
  color: var(--accent-color);
}

/*^ СБРАСЫВАЕМ СТИЛИ ДЛЯ ЭЛЕМЕНТОВ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

/*^ Стиль для ЛОГОТИПА */
.site-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.dark-logo {
  color: var(--primary-text-color);
}

/*^ Стиль для лого в футере */
.light-logo {
  color: var(--text-color-actve);
}

/*^  Стили для ссылок хедере и контактов общие */
.site-nav,
.list-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  list-style: none;
  letter-spacing: 0.02em;
}

/*^ Стили для контактов в хедере*/
.contact-item .link.list-link {
  color: var(--text-color);
}

/*^ Стили для контактов в хедере при наведении */
.contact-item .link.list-link:hover,
.contact-item .link.list-link:focus {
  color: var(--accent-color);
}

/*^ Стили для ссылок хедера и контакто */
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/*^ Стили для ссылок навигации хедера при наведении*/
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

.contact {
  list-style: none;
}

/*^ Стили для main index */
.hero {
  background-color: var(--footer-color);
}

/*^ Стиль заголовка */
.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

/*^ Цвет кнопки */
.hero-button .hero-link {
  color: var(--text-color-actve);
}

/*^ Фон кнопки */
.hero-button {
  background-color: var(--accent-color);
}

/*^ Фон кнопки при ховере */
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover);
}

/*^ Убирает у кнопки подчеркивание */
.hero-link {
  text-decoration: none;
}

/*^ Стили преймущества feature */
.feature-list {
  list-style: none;
}

.feature-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
}

.feature-descriotion {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/*^ Стили для заголовка чем мы занимаемся*/
/*^ и наша конманда  */
.heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}

/*^ Стили для чем мы заниманиемся */

.section {
  background-color: var(--background-team);
}

.work-img {
  list-style: none;
}

/*^ Стили наша команда */
.team {
  list-style: none;
}

.team-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--primary-text-color);
}

.team-description {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
}

/*^  ГЛОБАЛЬНЫЕ СТИЛИ ДЛЯ portfolio */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*^ ЗАДАЕМ ВНУТРЕНИЕ ОТСТУПЫ ШАПКЕ  */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

/*^  ЗАДАЕМ ВНУТРЕНИЕ СТИЛИ ДЛЯ СЕКЦИИ HERO */
.feature {
  padding-top: 25px;
}

/*^ НЕ ВИДНО НА СТРАНИЦЕ НО ВИДНО В ГУГЛ  */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*^  ЗАДАЕМ ВНУТРЕНИЕ СТИЛИ ДЛЯ СЕКЦИИ FEATURE */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*^ СТИЛИ ВНУТРЕНИЕ ДЛЯ ЧЕМ МЫ ЗАНИМАЕМСЯ DOING  */
.doing {
  padding-top: 0;
  padding-bottom: 94px;
}

/*^ НАША КОМАНДА  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*^ВНУТРЕНИЕ СТИЛИ ДЛЯ FOOTER  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.button-all {
  background-color: var(--accent-color);
  color: var(--background-team);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-menu:hover,
.button-menu:focus {
  background-color: var(--accent-color);
  color: var(--background-team);
}

.button-menu {
  background-color: var(--background-team);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filters,
.projeckts {
  list-style: none;
}

.projeckts-link {
  text-decoration: none;
}

.projeckts-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.projeckts-description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

/*^ Стили для футера */
.footer {
  background-color: var(--footer-color);
}

/*^ Стили для адреса в футере */
.address-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgb(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--text-color-actve);
}
